/* colors */
:root {
  --bg-grad-pink: #FF2A8A;
  --bg-grad-magenta: #D41FD4;
  --bg-grad-purple: #6A00F4;
  --bg-grad-blue: #4A4DFF;

  --bg-player: #2B0A3D;
  --bg-playlist: #24032E;

  --accent-pink: #FF4CA6;
  --accent-pink-light: #FF61C3;
  --accent-purple: #8B2C8E;

  --album-blue: #546CFF;
  --album-pink: #FF4CA6;

  --text-primary: #FFFFFF;
  --text-secondary: #F3B5FF;
  --text-muted: #D686F7;

  --icon-main: #FFFFFF;
  --icon-secondary: #F576FF;
  --icon-muted: #BF6DCB;

  --line-divider: #53285E;

  --shadow-soft: rgba(0, 0, 0, 0.25);
}

/* Fonts */
@font-face {
  font-family: bold;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: medium;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

/* Main start */
.body {
  background: radial-gradient(
      circle at top right,
      rgba(255, 42, 138, 0.6) 0%,
      rgba(212, 31, 212, 0.4) 30%,
      rgba(106, 0, 244, 0.3) 60%,
      rgba(74, 77, 255, 0.3) 100%
    ),
    linear-gradient(
      135deg,
      #FF2A8A,
      #D41FD4,
      #6A00F4,
      #4A4DFF
    );
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.main-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 55rem;
  background: rgba(43, 10, 61, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(20px);  
  width: 100%;
  gap: 5rem;
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 
  0 0 40px rgba(0, 0, 0, 0.4),
  0 0 30px rgba(255, 42, 138, 0.15);
  width: 100%;
}
.music-container{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  min-width: 0; 
}
.music-info-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%; 
  min-width: 0;
}
.poster-container{
  width: 15rem;
  height: 15rem;
  border-radius: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.poster{
  width: 100%;
  height: 100%;
  border-radius: inherit;
  display: block;
  object-fit: cover;
}
.music-name-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 100%;
    min-width: 0;
    overflow: hidden;
    flex: 1;
}
.music-name{
  max-width: 100%;
  color: var(--text-primary);
  font-size: 3rem;
  font-family: medium;
  text-transform: capitalize;
  font-family: 'bold';
  display: block;
  max-width: 100%;          /* same width, no resize */
  white-space: nowrap;      /* don't wrap to next line */
  overflow: hidden;         /* hide extra text */
  text-overflow: ellipsis;
}
.music-name.scroll {
  overflow: visible;
  text-overflow: clip;
  animation: scrollText 8s linear infinite;
}
.artist-name{
  max-width: 100%;
  margin-top: 0.7rem;
  color: var(--text-secondary);
  opacity: 0.8;
  font-family: regular;
  text-transform: capitalize;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.seek-bar-container{
  width: 100%;
}
.music-timer{
  width: 100%;
}
input[type="range"] {
  width: 100%;
  border-radius: 10px;
  -webkit-appearance: none;
  appearance: none;
  background-image: linear-gradient(to right, #ff2a8a, #fb189b, #f209ad, #e60ec0, #d41fd4);
}
input[type="range"]::-webkit-slider-runnable-track{
  height: 6px;
  border-radius: 10px;
  background:rgba(255, 255, 255, 0.2) ;
}
input[type="range"]::-moz-range-track{
  height: 6px;
  border-radius: 999px;
  background:rgba(255, 255, 255, 0.2) ;
}
input[type="range"]::-webkit-slider-thumb{
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--bg-grad-blue);
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px rgba(255, 76, 166, 0.8);
  margin-top: -5px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FF4CA6;
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px rgba(255, 76, 166, 0.8);
  cursor: pointer;
}

.control-container{
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.control-container button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}
.repeat-btn{
  color: var(--icon-muted);
  cursor: pointer;
  font-size: 1.2rem;
}
.previous-btn i{
  color: var(--icon-main);
  font-size: 2.5rem;
  cursor: pointer;
}
.play-btn{
    color: var(--icon-main);
    font-size: 2.5rem;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* for JS switch */
.play-btn.is-playing #play-btn{
  display: none;
}
.play-btn.is-playing #pause-btn{
  display: inline-block;
}
#play-btn{
    background-color: var(--icon-secondary);
    padding: 1rem;
    border-radius: 999px;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* #pause-btn {
  background-color: var(--icon-secondary);
    padding: 1rem;
    border-radius: 999px;
    width: 2.5rem;
    height: 2.5rem;
    display: none;
    align-items: center;
    justify-content: center;
} */
.next-btn{
  color: var(--icon-main);
  font-size: 2.5rem;
}
.next-btn i{
  cursor: pointer;
}
.shuffle-btn{
  color: var(--icon-muted);
  cursor: pointer;
  font-size: 1.2rem;
}
.playlst-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 60%;
    min-width: 27%;
    background-color: var(--bg-playlist);
    padding: 2rem;
    color: #fff;
    border-radius: 25px;
}
.playlist-title{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 2rem;
}
.playlist-title::after{
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--line-divider);
  bottom: -20px;
  position: absolute;
  border-radius: 999px;
}
.title{
  font-family: 'medium';
  font-size: 1.5rem;
  text-transform: capitalize;
}
.dots{
  display: flex;
  align-items: center;
  gap: 6px;
  width: 30px;
  height: 30px;
  justify-content: center;
  background-color: var(--line-divider);
  border-radius: 50%;
  cursor: pointer;
}
.dot{
  width: 4px;
  height: 4px;
  background: var(--accent-pink-light);
  border-radius: 50%;
}
.playlist-songs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  margin: 1.6rem 0;
}
.song-queue{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4rem;
}
.song-name{
  font-family: 'medium';
  font-size: 1.3rem;
  text-transform: capitalize;
}
.song-artist{
  opacity: 0.8;
  font-family: regular;
  text-transform: capitalize;
}
.plsylist-footer{
  display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1.2rem;
}
.heart-icon-container{
  appearance: none;
  background: none;
  border: none;
  outline: none;
}
#heart-icon{
  background-color: var(--line-divider);
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-main);
  padding: 0.4rem;
  cursor: pointer;
}
#volume-seekbar{

}
.volume-container{
  appearance: none;
  background: none;
  border: none;
  outline: none;
}
#volume-high{
background-color: var(--line-divider);
border-radius: 999px;
display: flex;
align-items: center;
justify-content: center;
color: var(--accent-pink-light);
padding: 0.4rem;
cursor: pointer;
}
#volume-mute{
  display: none;
  background-color: var(--line-divider);
  border-radius: 999px;
  align-items: center;
  justify-content: center;
  color: var(--accent-pink-light);
  padding: 0.4rem;
  cursor: pointer;
}

/* animation  */
.scroll {
  animation: scrollText 8s linear infinite;
}

@keyframes scrollText{
  0% {transform: translateX(0);}
  50%{transform: translateX(-60%);}
  100%{transform: translateX(0);}
}