/* colors */
:root {
  --bg-grad-pink: #FF2A8A;
  --bg-grad-magenta: #D41FD4;
  --bg-grad-purple: #6A00F4;
  --bg-grad-blue: #4A4DFF;

  --bg-player: #2B0A3D;
  --bg-playlist: #24032E;

  --accent-pink: #FF4CA6;
  --accent-pink-light: #FF61C3;
  --accent-purple: #8B2C8E;

  --album-blue: #546CFF;
  --album-pink: #FF4CA6;

  --text-primary: #FFFFFF;
  --text-secondary: #F3B5FF;
  --text-muted: #D686F7;

  --icon-main: #FFFFFF;
  --icon-secondary: #F576FF;
  --icon-muted: #BF6DCB;

  --line-divider: #53285E;

  --shadow-soft: rgba(0, 0, 0, 0.25);
}

/* Fonts */
@font-face {
  font-family: bold;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: medium;
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

/* Main start */
.body {
  background: radial-gradient(
      circle at top right,
      rgba(255, 42, 138, 0.6) 0%,
      rgba(212, 31, 212, 0.4) 30%,
      rgba(106, 0, 244, 0.3) 60%,
      rgba(74, 77, 255, 0.3) 100%
    ),
    linear-gradient(
      135deg,
      #FF2A8A,
      #D41FD4,
      #6A00F4,
      #4A4DFF
    );
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
.main-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  background: rgba(43, 10, 61, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(20px);  
  width: 100%;
  gap: 5rem;
  padding: 2rem;
  border-radius: 30px;
  box-shadow: 
  0 0 40px rgba(0, 0, 0, 0.4),
  0 0 30px rgba(255, 42, 138, 0.15);
}
.music-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
}
.music-info-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.poster-container{
  max-width: 15rem;
  max-height: 15rem;
}
.poster{
  width: 100%;
  height: 100%;
  
}
.music-name-container{

}
.music-name{

}
.artist-name{

}
.seek-bar-container{

}
.music-timer{

}
.control-container{

}
.repeat-btn{

}
.previous-btn{

}
.play-btn{

}
.next-btn{

}
.shuffle-btn{

}
.playlst-container{

}
.playlist-title{

}
.title{

}
.more-btn{

}
.playlist-songs{

}
.song-queue{

}
.song-name{

}
.song-artist{

}
.plsylist-footer{

}